.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: calc(100vh - 100px);
    /* Ocupa la pantalla menos la altura del navbar */
}

.dashboard-card-wrapper {
    width: 100%;
    max-width: 900px;
    /* Ancho máximo de la tarjeta */
    min-height: 450px;
    /* Altura mínima */
    border-radius: 20px;
    border: 1px solid #392e4e;
    background: #060010;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.loading-message {
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: 1.5rem;
}