@tailwind base;
@tailwind components;
@tailwind utilities;


/* Importar la fuente */
@font-face {
  font-family: 'Minecraft';
  src: url('/src/assets/CreatoDisplay-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-minecraft;
  }
}

@layer components {
  .input-base {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm text-gray-900 placeholder-gray-400 transition;
  }

  .button-base {
    @apply rounded-lg px-4 py-2 text-sm font-medium bg-black text-white hover:bg-neutral-800 transition;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}